[submodule "software/ramps-firmware"]
	path = software/ramps-firmware
	url = https://github.com/Terawatt-Industries/Atlantic.git
[submodule "software/openscad"]
	path = software/openscad
	url = https://github.com/openscad/openscad
[submodule "hardware/prismx"]
	path = hardware/prismx
	url = https://github.com/Terawatt-Industries/prismx-scad.git
[submodule "software/octoprint"]
	path = software/octoprint
	url = https://github.com/foosel/OctoPrint.git
