[submodule "software/ramps-firmware"]
	path = software/ramps-firmware
	url = git@github.com:Terawatt-Industries/Atlantic.git
[submodule "software/pronterface"]
	path = software/pronterface
	url = git://github.com/kliment/Printrun.git
[submodule "software/openscad"]
	path = software/openscad
	url = git://github.com/openscad/openscad
[submodule "hardware/prismx"]
	path = hardware/prismx
	url = git@github.com:Terawatt-Industries/prismx-scad.git
[submodule "hardware/00str00der"]
	path = hardware/00str00der
	url = https://github.com/Terawatt-Industries/00str00der
